.button {
	cursor: pointer;
	text-transform: uppercase;

	color: #FFF;

	border: none;
	border-radius: 10px;

	font-size: 12px;
	font-weight: 500;
}

.install {
	background-color: #0085FF;

	&:hover {
		background-color: #0371D8;
	}
}

.uninstall {
	background-color: #CCD4DB;

	&:hover {
		background-color: #C3CACF;
	}
}

.appearanceInstall {
	padding: 8px 20px;

	border-radius: 50px;
}

.default {
	padding: 13px 20px;

	border-radius: 10px;
}

.mobile {
	width: 26px;
	height: 26px;
	padding: 6px;
}
