.grid {
	display: grid;

	min-height: 100vh;

	padding-bottom: 50px;

	background-image: url('../../public/bg-main.jpg');
	background-repeat: no-repeat;
	background-position: center top;
	background-size: contain;
	grid-template-columns: 360px auto 320px;
	grid-template-rows: auto 1fr;
	grid-template-areas:
		"sidepanel header settingspanel"
		"sidepanel body settingspanel";
}

.header {
	grid-area: header;
}

.sidePanel {
	grid-area: sidepanel;
}

.body {
	grid-area: body;
}

.settingsPagel {
	grid-area: settingspanel;
}

@media screen and (max-width: 1450px) {
	.grid {
		grid-template-columns: 360px 1fr;
		grid-template-areas:
			"sidepanel header "
			"sidepanel body";
	}

	.settingsPagel {
		display: none;
	}
}

@media screen and (max-width: 1146px) {
	.grid {
		grid-template-columns: 300px 1fr;
	}
}

@media screen and (max-width: 992px) {
	.grid {
		grid-template-columns: 1fr;
		grid-template-areas:
			"sidepanel "
			"body";
	}

	.header {
		display: none;
	}
}
