.wrapper {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 100%;
	min-height: 100vh;

	background-image: url('../../public/firspage.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.container {
	position: relative;

	max-width: 760px;
	max-height: 410px;
	padding: 40px;

	color: #FFF;

	border-radius: 10px;

	background: linear-gradient(180deg, rgba(185, 251, 255, 0.2) 0%, rgba(227, 220, 255, 0.2) 100%);
	backdrop-filter: blur(30px);
}

.header {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}

.title {
	max-width: 390px;

	margin: 0;

	text-transform: uppercase;

	color: #FFF;

	font-size: 48px;
	font-weight: 900;
	line-height: 45px;
}

.details {
	text-transform: uppercase;

	color: #FFF;

	font-size: 12px;
	font-weight: 900;
}

.detailsDot {
	color: #C50140;
}

.description {
	padding-top: 10px;
}

.buttonContainer {
	button {
		margin-right: 20px;
	}
}
