.button {
	padding: 13px 20px;

	cursor: pointer;
	text-transform: uppercase;

	color: #FFF;

	border: none;
	border-radius: 10px;

	font-size: 12px;
	font-weight: 500;
}

.install {
	background-color: #0085FF;

	&:hover {
		background-color: #0371D8;
	}
}

.uninstall {
	background-color: #CCD4DB;
}
