.panel {
	z-index: 1;

	padding-top: 77px;

	background: linear-gradient(180deg, rgba(185, 251, 255, 0.2) 0%, rgba(227, 220, 255, 0.2) 100%);
	backdrop-filter: blur(30px);
}

.header {
	display: flex;
	justify-content: space-between;

	padding-right: 20px;
	padding-left: 36px;
}

.category {
	margin-top: 20px;

	padding-left: 0;

	list-style: none;
}

.categoryItem {
	position: relative;

	display: flex;
	align-items: center;

	margin-bottom: 30px;

	padding: 15px 36px;

	cursor: pointer;

	&::before {
		position: absolute;
		top: 0;

		right: 0;
		bottom: 0;

		width: 4px;

		content: '';

		opacity: 0;

		background-color: #0085FF;
	}
}

.categoryIcon {
	position: relative;

	&::before {
		position: absolute;
		top: 0;
		left: 0;

		width: 100%;
		height: 100%;

		content: '';

		opacity: 0;

		background-color: #0085FF;
		filter: blur(14px);
	}
}

.categoryName {
	margin-left: 10px;

	color: #565555;

	font-size: 16px;
	font-weight: 400;
}

.categoryActive {
	background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%), rgba(255, 255, 255, 0.3);
	backdrop-filter: blur(30px);

	.categoryName {
		color: #0085FF;
		text-shadow: 0 0 20px #0085FF;
	}

	.categoryIcon {
		color: #0085FF;

		&::before {
			opacity: 1;
		}
	}

	&::before {
		opacity: 1;
	}
}

.list {
	margin-top: 40px;
	padding-left: 36px;
}

.listTitle {
	color: #2A2A2A;

	font-size: 16px;
	font-weight: 800;
	line-height: 19px;
}

.listItems {
	padding-left: 0;

	list-style: none;
}

.listItem {
	margin-bottom: 20px;
}

.listItemLink {
	& > span {
		color: #0085FF;

		font-size: 16px;
		line-height: 19px;

		text-decoration-line: underline;
	}
}

.tagItems {
	display: flex;
	flex-wrap: wrap;
}

.tagsItem {
	margin-right: 10px;
}

@media screen and (max-width: 1000px) {
	.header {
		padding-left: 20px;
	}

	.categoryItem {
		padding-left: 20px;
	}

	.list {
		padding-left: 20px;
	}

	.listItem {
		margin-right: 5px;
	}
}

.mobileMenu {
	position: relative;
	z-index: 5;

	display: block;

	display: none;

	width: 20px;
	height: 3px;

	cursor: pointer;

	background-color: #2A2A2A;

	&::before,
	&::after {
		position: absolute;

		width: 100%;
		height: 100%;

		content: '';

		background-color: #2A2A2A;
	}

	&::before {
		transform: translateY(4px);
	}

	&::after {
		transform: translateY(-4px);
	}
}

@media screen and (max-width: 1146px) {
	.header {
		align-items: center;

		padding-left: 20px;
	}

	.categoryItem {
		padding-left: 20px;
	}

	.list {
		padding-left: 20px;
	}
}

@media screen and (max-width: 992px) {
	.list {
		display: none;
	}

	.panel {
		padding-top: 10px;
		padding-bottom: 10px;
	}

	.category {
		position: fixed;
		z-index: 4;
		top: 100%;
		right: 0;
		bottom: 0;
		left: 0;

		display: none;

		width: 100%;
		min-height: 100vh;
		margin-top: 0;

		background: linear-gradient(180deg, rgba(213, 252, 255, 1) 0%, rgba(241, 238, 252, 1) 100%);
		backdrop-filter: blur(30px);
	}

	.categoryItem {
		justify-content: flex-end;

		&::before {
			right: auto;
			left: 0;
		}
	}

	.mobileMenu {
		display: block;
	}

	.arrow {
		display: none;
	}
}

.mobileOpen {
	display: block;
}

.menuOpen {
	position: relative;

	.header {
		padding: 0;

		& > div {
			margin: 0 auto;
		}

		& h2 {
			display: none;
		}
	}

	.arrow {
		position: absolute;
		top: 30px;
		right: 50%;

		transform: rotateY(180deg) translateX(-50%);
	}

	.categoryItem {
		padding: 15px 40px;

		& > span {
			display: none;
		}
	}

	.list {
		display: none;
	}
}
